PORT = 3000
MONGO_URI = mongodb+srv://atul2192:Atul@cluster0.hv2yg.mongodb.net/StoryBook?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 898257799164-ln0n4d3cmbdvn5dd3pjblsf5n7eiq6ha.apps.googleusercontent.com;
GOOGLE_CLIENT_SECRET = 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;